@import "colors";

article {
    &.blog-preview {
        .preview-title {
            font-weight: bold;
        }
        time {
            font-size: $accent-dark;
        }
    }

    .tag {
        color: $text-color;
        text-decoration-color: $article-tag;
    }
}