/**
 * Variables
 */

@import "colors";
@import "article";
@import "home";

@media only screen and (max-width : 600px) {
    article.blog-preview {
        display: flex;
        flex-direction: column;
        .preview-title{
            order: -1;
        }
        .pipe-separator {
            display: none;
        }
    }
    footer nav a {
        display: block;
    }
}
/**
 * Style
 */
html {
  height: 100%;
}

body {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
  min-height: 100%;
}


html,
body {
  background: $base-background;
}

header, footer {
    padding: 2rem;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

header {
    border-bottom: 3px solid $accent-mediumdark;
}
footer {
    border-top: 3px solid $accent-mediumdark;
}

main {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
  min-height: 75vh;
}

img {
    max-width: 100%;
}

a {
    color: $text-color;
    text-decoration-color: $link-color;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    transition: text-decoration-thickness 0s;

    &:hover {
        text-decoration-thickness: 4px;
        transition: text-decoration-thickness 0.1s;
    }
}


.title {

}