/**
 * Variables
 */

/* Base colors */
$base-light: white;
$base-dark: #212121;
$accent-light: #FFCDB2;
$accent-mediumlight: #E5989B;
$accent-mediumdark: #B5838D;
$accent-dark: #6D6875;

/* Usage colors (light) */
$base-background: $base-light;
$text-color: $base-dark;
$link-color: $accent-dark;
$article-tag: $accent-mediumlight;

@media only screen and (max-width : 600px) {
    article.blog-preview {
        display: flex;
        flex-direction: column;
        .preview-title{
            order: -1;
        }
        .pipe-separator {
            display: none;
        }
    }
}
/**
 * Style
 */
html {
  height: 100%;
}

body {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
  min-height: 100%;
}


html,
body {
  background: $base-background;
}

header {
    padding: 2rem;
    width: 100%;
    border-bottom: 3px solid $accent-mediumlight;
    margin: auto;
}

main {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
}

img {
    max-width: 100%;
}

a {
    color: $text-color;
    text-decoration-color: $link-color;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    transition: text-decoration-thickness 0s;

    &:hover {
        text-decoration-thickness: 4px;
        transition: text-decoration-thickness 0.1s;
    }
}

blockquote {
  color: rgba($text-color, 0.7);
  border-left: 2px solid rgba($text-color, 0.7);
  padding: 0 1rem;
  margin: 2rem 0;
}

article {
    &.blog-preview {
        .preview-title {
            font-weight: bold;
        }
        time {
            font-size: $accent-dark;
        }
    }

    .tag {
        color: $text-color;
        text-decoration-color: $article-tag;
    }
}

footer {
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
}