
{% extends "index.html" %}

{% block content %}

    <h1>Blog > {{ term.name }}</h1>

    <ul>
        {% for page in term.pages %}
        <li>
            <article class="blog-preview">
                <p>
                <time itemprop="datePublished" datetime="{{ page.date }}">
                    {{ page.date }}
                </time> 
                | 
                <a class="preview-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                </p>
            </article>
            {% endfor %}
        </li>
    </ul>
{% endblock content %}