<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ornella K. Friggit</title>
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {% block css %}
      <link href="/style.css" rel="stylesheet"/>
    {% endblock css %}
    
    <script>const exports = {};</script>
    <script src="https://cdn.jsdelivr.net/npm/ornellember@2.2.2/lib/bundle.min.js"></script>
    <script src ="/js/dates.js" defer></script>
    {% block js %}
    {% endblock js %}

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://ornellaxyz.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/ornellaxyz.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body>
    <header>
      <div>
        <b><a href="{{ config.base_url }}">O.F.K.</a></b>
        <nav>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
            <a href="/projects">Projects</a>
        </nav>
      </div>
      <div>
        <p>Today is <time data-ornellember datetime=""></time> in <a href="/projects/ornellember">Ornellember time format.</a></p>
      </div>
    </header>
    <main class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer>
        <nav>
          <div>
            <a href="https://github.com/0rnella" target="_blank" rel="noopener noreferrer">GitHub</a> 
            <a href="https://www.linkedin.com/in/ornellaf/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://twitter.com/zerornella" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a href="https://mastodon.social/@Ornella" target="_blank" rel="noopener noreferrer">Mastodon</a>
          </div>
          <div>
            <a href="/atom.xml" target="_blank" rel="noopener noreferrer">RSS Feed</a> 
          </div>
        </nav>
    </footer>
  </body>
</html>
