{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
<p>All my writings in one place, about tech, life updates, etc.</p>

<ul>
  {% for page in section.pages %}
  <li >
    <p>
    <article class="blog-preview">
        <time itemprop="datePublished" datetime="{{ page.date }}">
          {{ page.date }}
        </time> 
        <span class="pipe-separator"> | </span>
        <a class="preview-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
      {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
        <span class="pipe-separator"> | </span>
        <span class="tags">
          {% for tag in page.taxonomies.tags %}
           <a class="tag" href="/tags/{{ tag | safe }}"">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </article>
  </p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
